@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');

:root {
    --primary: #172a76;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;

    .header-main-ele-con {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-con {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 40px;
            color: var(--primary);
        }

        .logo {
            width: 70px;
            height: 70px;
        }

        .menu-items {
            width: fit-content;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 16px;

            a {
                color: var(--primary);
                font-size: 16px;
                text-decoration: none;
                position: relative;

                &:hover {
                    color: var(--primary);

                    &::after {
                        transform: scale(1);
                    }
                }

                &::after {
                    position: absolute;
                    content: "";
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: var(--primary);
                    transition: all 0.6s ease;
                    transform: scale(0);
                }
            }
        }
    }
}

.slider-heading {
    font-size: 34px;
    text-align: center;
    color: var(--primary);
    margin-bottom: 0;
}

.slider-subheading {
    font-size: 18px;
    font-weight: bold;
}

.slider-desc {
    font-size: 16px;
    color: gray;
}

.sliders-main-container {
    width: 75%;
    margin: 100px auto 80px auto;

    .awe-btn {
        z-index: 9;
    }
}

.useage-main-container {
    width: 75%;
    margin: 100px auto 80px auto;
}

.install-main-container {
    width: 75%;
    margin: 100px auto 80px auto;
}